<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".TimeWalletApp"
        android:allowBackup="true"
        android:label="TimeWallet"
        android:icon="@drawable/ic_timewallet_logo"
        android:roundIcon="@drawable/ic_timewallet_logo"
        android:theme="@style/Theme.TimeWallet">
        <activity android:name=".ui.SplashActivity" android:exported="true" android:theme="@style/Theme.TimeWallet.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:exported="false" />
        <activity
            android:name=".ui.block.BlockScreenActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <activity android:name=".ui.history.CoinHistoryActivity" android:exported="false" />
        <activity android:name=".ui.legal.LegalActivity" android:exported="false" />
        <activity android:name=".ui.legal.LegalViewerActivity" android:exported="false" />
        <activity android:name=".camera.CameraActivity" android:exported="false" />

        <service
            android:name=".service.SocialBlockerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="\${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>